{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pyconweb2018 - Documents</title>
</head>
<body>

{% for message in messages %}
    <h3>{{ message }}</h3>
{% endfor %}

<p><h3>Upload Form:</h3></p>
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Submit" />
</form>


<hr/>

<h3>Uploaded Documents:</h3>
{% if documents.count %}
    <ul>
    {% for document in documents %}
        <li>{{ document.name }} - {{ document.create_date }} - <a href="{% url 'download_document' document.id %}" target="_blank">Download</a> - <a href="{% url 'delete_document' document.id %}">Delete</a> (path: {{ document.url }} - s3 url: {{ document.s3_url }})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>There is no document to display. Please upload one!</p>
{% endif %}

<hr/>

<h3>Parsed Data:</h3>
{% if data.count %}
    <ul>
    {% for d in data %}
        <li>Client: {{ d.client }}, Timestamp: {{ d.time }}, Value: {{ d.value }} - <a href="{% url 'delete_data' d.id %}">Delete</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>There is no data to display. Please upload a file to be parsed!</p>
{% endif %}
</body>
</html>